<div class="container grid-1280">
  <div class="empty">
    <div class="empty-icon" style="font-size: 4em">
      <i class="icon icon-stop"></i>
    </div>
    <h4 class="empty-title">An error occurred - <%= @status %></h4>
    <p class="empty-subtitle"><%= @message %></p>
  </div>
</div>